html, body {
    /*font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;*/
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 9pt;
    height: 100%;
}

/*----------------------*/
/* bootstrapのスタイル調整 */
/*----------------------*/
.nav-tabs .nav-link.active {
    font-weight: bold;
    text-shadow: 1px 1px 2px grey;
}

.custom-select {
    width: auto !important;
}

.badge {
    font-size: 8pt;
}

/*----------------------------------------------------------------------*/

.margin-lr-4 {
    margin: 0 4px;
}

fieldset {
    padding: 0 4px 4px 4px;
    border-radius: 0;
}

#status-autoplay {
    opacity: 0.25;
}

#status-autoplay.autoplaying {
    opacity: 1;
}

#status-allow-request {
    opacity: 0.25;
}

#status-allow-request.allowrequest {
    opacity: 1;
}

/* 再生中動画の進行表示 */
.progress {
    border: 1px #999999 inset;
}

#progressbar-main {
    background-color: #6bd0ee !important;
}

header {
    background-color: #ededef;

    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab-content {
    /*background-color: #007fff;*/
    /*border: #dad55e 4px solid;*/
}

footer {
    background-color: #ededef;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex1 {
    flex: 1;
    overflow: auto;
    height: 100%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ccc
}

.dropdown-submenu.pull-left {
    float: none
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* jquery contextmenu */
.context-menu-list .context-menu-list {
    max-height: 240px;
    overflow: scroll;
}

.my-alert {
    margin-bottom: 0px;
    padding: 0.4rem 0.4rem;

    -moz-transition: height 0.25s, opacity 0.25s;
}

/*----- リクエストタブ -----*/
#tab-request {
    height: 100%;
}

#tab-request-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*----- ストックタブ -----*/
#tab-stock {
    height: 100%;
}

#tab-stock-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*----- コメントタブ -----*/
#tab-comment {
    height: 100%;
}

#tab-comment-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#comment-view {
    margin-top: 2px;
}

#comment-command {
    max-width: 7em;
}

.comment_username {
    display: block;
    width: 7em;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 4px;
}

/*----- 再生履歴 -----*/

#tab-history {
    height: 100%;
}

#txt-play-history {
    width: 100%;
}

/*----- -----*/

.video-list {
    width: 100%;
}

.video-list hr {
    padding: 0;
    margin: 0;
    border-width: 1px 0px 0px 0px;
    border-style: dashed;
}

/*
 動画情報のスタイル
 */
.no_live_play:after {
    font-family: 'Glyphicons Halflings';
    content: "\e090[生放送不可]";
    color: red;
    font-weight: bold;
}

.nico-title.self_request:before {
    font-family: 'Glyphicons Halflings';
    content: "\e125[自貼り]";
    color: green;
    font-weight: bold;
}

.video_played {
    background-color: #e6e6e6;
}

.video_played .nico-title:after {
    font-family: 'Glyphicons Halflings';
    content: ' \e013[再生済み]';
    font-weight: bold;
}

.nico-description {
    display: block;
}

.nico-tags {
    width: 100%;
    overflow: auto;
}

.nico-thumbnail {
    width: 65px;
    height: 50px;
}

.nico-thumbnail:hover {
    /*
        width: 130px;
        height: 100px;
    */
}

.nico-bitrate {
    font-size: 9pt;
    padding-left: 2px;
    padding-right: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    opacity: 0.7;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

iframe {
    -moz-transition: height 0.25s, opacity 0.25s;
}

/* コメントの背景色 */
.nico_yourpost {
    font-weight: bold;
}

tr.color1 {
    background-color: #f2eef8;
}

tr.color2 {
    background-color: #eef0ff;
}

tr.color3 {
    background-color: #eef8ff;
}

tr.color4 {
    background-color: #eeffff;
}

tr.color5 {
    background-color: #eefff8;
}

/* 緑(自貼りカラー) */
tr.color6 {
    background-color: #eeffee;
}

tr.color7 {
    background-color: #f8ffee;
}

tr.color8 {
    background-color: #ffffee;
}

tr.white {
    background-color: white;
}

/* 主用の色 */
tr.color_caster {
    background-color: #ffeeee;
}
